#first
    height: 930px
    background-image: url('../images/2.jpg')
    background-size: cover
    z-index: 1
    position: relative
.root
    position: sticky
    background-color: rgba (0, 0, 0, 0.3)
    top: 0
    left: 0

.rootrow
    height: 80px
    z-index: 2
    div
        display: flex
        align-items: center
        justify-content: center
        img
            cursor: pointer
        ul
            margin: 0
            height: auto
            justify-content: center
            list-style-type: none
            display: flex
            #home
                color: green
            li
                position: relative
                margin: 5%
                cursor: pointer
                color: white
                text-shadow: 1px 1px 2px brown

            li:hover
                color: green
    #btn
        display: flex
        justify-content: center
        align-items: center
        position: relative
        background-color: white
        cursor: pointer
        padding: 7px 30px 7px 30px
    #btn:hover
        background-color: black
        color: white