* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

#first {
  height: 930px;
  background-image: url("../images/2.jpg");
  background-size: cover;
  z-index: 1;
  position: relative;
}

.root {
  position: -webkit-sticky;
  position: sticky;
  background-color: rgba 0, 0, 0, 0.3;
  top: 0;
  left: 0;
}

.rootrow {
  height: 80px;
  z-index: 2;
}

.rootrow div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rootrow div img {
  cursor: pointer;
}

.rootrow div ul {
  margin: 0;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rootrow div ul #home {
  color: green;
}

.rootrow div ul li {
  position: relative;
  margin: 5%;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 2px brown;
}

.rootrow div ul li:hover {
  color: green;
}

.rootrow #btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: white;
  cursor: pointer;
  padding: 7px 30px 7px 30px;
}

.rootrow #btn:hover {
  background-color: black;
  color: white;
}

#welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 850px;
}

#welcome #innerWelcome {
  text-align: center;
  color: white;
}

#welcome #innerWelcome h1 {
  color: white;
  font-size: 80px;
  text-shadow: 3px 3px 4px black;
}

#welcome #innerWelcome hr {
  width: 10%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#welcome #innerWelcome p {
  color: white;
  font-size: 20px;
  width: 53%;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px 3px black;
}

.about {
  background-color: #ebebeb;
}

.about .aboutrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 700px;
}

.about .aboutrow .pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about .aboutrow .pictures .woman {
  position: absolute;
  bottom: 0;
}

.about .aboutrow .text {
  width: 50%;
}

.about .aboutrow .text * {
  margin: 2%;
}

.about .aboutrow .text p {
  width: 80%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */